body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
  width: 100vw;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  max-width: 640px;
  height: 520px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

.container h1 {
  background-color: #eee;
  padding: 12px 0;
}

form input, form label, form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}

form button {
  border: none;
  background: var(--primary-color);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

form button:hover {
  background: var(--primary-color-darker);
}


.relogio {
  font-size: 3em;
}

button {
  padding: 1em;
  font-size: 1em;
  outline: none;
  border: none;
  border-radius: 8px;
  background: #bdbeff;
  margin-left: 12px;
  margin-right: 12px;
  font-weight: 500;
  cursor: pointer;
}

button:hover {
  background: #a8aafa;
  transition: all 0.4s ease;
}

button:active {
  background: #9a9cfa;
  transition: all 0.2s ease;
}

.pausado {
  color: #f94f4f;
}